@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text1 {
    @apply text-2xl font-montserrat font-semibold;
  }
  .text2 {
    @apply text-lg font-medium font-open-sans;
  }
  .text3 {
    @apply text-slate-500 dark:text-slate-400;
  }
  .btn {
    @apply bgGradient rounded-md hover:rounded-lg transition-all text-slate-200 font-medium;
  }
  .card {
    @apply bg-white dark:bg-slate-700 p-5 rounded-lg shadow;
  }

  .textGradient {
    background-image: linear-gradient(
      30deg,
      theme("colors.primary"),
      theme("colors.primary"),
      theme("colors.white") 120%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bgGradient {
    background: linear-gradient(
      30deg,
      theme("colors.primary"),
      theme("colors.primary"),
      theme("colors.white") 120%
    );
  }

  /* expense */
  .expense-scroll::-webkit-scrollbar {
    @apply w-1;
  }
  .expense-scroll::-webkit-scrollbar-thumb {
    @apply bg-secondary rounded-full;
  }
  .expense-scroll::-webkit-scrollbar-thumb:hover {
    @apply bg-primary rounded-full;
  }
}
