@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  /* input placeholder */
  ::placeholder {
    @apply !text-slate-400;
  }

  /* emoji */
  .EmojiPickerReact input {
    @apply !w-full !outline-0 !bg-slate-100 dark:!bg-slate-700 !rounded-md focus:!rounded-lg hover:!ring-1 focus:!ring-1 !ring-primary !border-none;
  }

  .sketch-picker input {
    @apply !w-full !outline-0 !bg-transparent !rounded hover:!ring-1 focus:!ring-1 !ring-primary;
  }
  .sketch-picker label {
    @apply !text-black dark:!text-white;
  }
}

@layer components {
  /* common */
  .text1 {
    @apply text-2xl font-montserrat font-semibold;
  }
  .text2 {
    @apply text-lg font-semibold font-open-sans;
  }
  .text3 {
    @apply text-slate-500 dark:text-slate-300;
  }
  .btn {
    @apply py-2 px-5 bgGradient rounded-md hover:rounded-lg transition-all text-slate-100 font-medium hover:shadow;
  }
  .card {
    @apply bg-white dark:bg-slate-700 p-5 rounded-lg shadow;
  }

  /* gradient */
  .textGradient {
    background-image: linear-gradient(
      30deg,
      theme("colors.primary"),
      theme("colors.primary"),
      theme("colors.white")
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .bgGradient {
    background: linear-gradient(
      30deg,
      theme("colors.primary"),
      theme("colors.primary"),
      theme("colors.white") 150%
    );
  }

  /* main scrollbar */
  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-secondary rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary rounded-full;
  }

  /* card scrollbar */
  .card-scroll::-webkit-scrollbar {
    @apply w-1;
  }
  .card-scroll::-webkit-scrollbar-thumb {
    @apply bg-secondary rounded-full;
  }
  .card-scroll::-webkit-scrollbar-thumb:hover {
    @apply bg-primary rounded-full;
  }
}
